body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    height: 4rem;
    background-color: white;
}
.fa-compass{
    color: red;
    font-size: 2rem;

}
.nav-link{
    color: black !important;
    
}

/*footer */
footer{
    margin-top: auto;
}
.f-info{
    text-align: center;
    background-color: rgba(218, 209, 209, 0.909);
}
.f-info-socials{
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    padding-top: 0.3rem;

}
.f-info-links a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.fa-brands:hover{
    font-size: 1.1rem;
}

/* cards */

.listing-card {
    /* margin-bottom: 30px; Adds spacing below each card */
    
    margin-bottom: 2rem;
    border: none !important;
    margin: 0px;

}

/* images */
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;

}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
    
}
#card{
    margin: 0 3rem;
    box-shadow: 10px black;
    
}
/* Adjust margin for smaller screens */
@media screen and (max-width: 600px) {
    
    #card {
        margin: 0 1rem; /* Reduced margin for small screens */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    #navbarNavAltMarkup{
        background-color: rgb(255, 255, 255);
        
    }
    #filters{
        margin: 0 !important;
    }
    .tax-toggle{
        display: none !important;
    }
    .listing-card-show{
        width: 100% !important;
        margin: 0 !important;
        padding: 0;
    }
    .show-page{
        margin: 0px !important;
    }
    .show-card{
        width: 90% !important;
        margin: 1.5rem !important;
    }
}
.listing-card{
    border: none !important;
    margin-bottom: 3rem;
    
}
.listing-card-show{
    border: none !important;
    margin-bottom: 3rem;
    margin: 0 !important;
    
}
.listing-link{
    text-decoration: none;
}
.card-img-top:hover{
    color: red;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

}
.edit-button{
    
}
input{
    font-style: italic;
}
.show-img{
    height: 30vh !important;
}
.delete-btn{
    width: 5rem !important;
    margin-top: 6px;

}
.edit-btn{
    width: 5rem !important;
}
/* .comment-card{
    
    background-color:blanchedalmond !important;
} */